.menu {
  height: 50%;
  align-items: center;
  text-align: center;
}
.main {
  flex-direction: column;
  height: 40%;
  align-items: center;
  text-align: center;
}

.footer {
  flex-direction: column;
  height: 50%;
  align-items: center;
  text-align: center;
}
